In [4]:
import pandas as pd

In [3]:
!ls input/dataset

chain_info.csv hotel_info.csv test_set.csv   train_set.csv

In [12]:
train_df = pd.read_csv('input/dataset/train_set.csv', names=['image_id', 'hotel_id', 'image_url', 'image_source', 'upload_timestamp'])

In [13]:
train_df.head()

,image_id,hotel_id,image_url,image_source,upload_timestamp
0,3485,18187,https://traffickcam.com/images/2016/10/2015090...,traffickcam,9/9/15 17:23
1,3486,18187,https://traffickcam.com/images/2016/10/2015090...,traffickcam,9/9/15 17:23
2,3663,73224,https://traffickcam.com/images/2016/10/2015091...,traffickcam,9/17/15 19:33
3,2586939,86350,https://traffickcam.com/images/2017/2/20160125...,traffickcam,1/25/16 19:12
4,2586950,1533,https://traffickcam.com/images/2017/2/20160125...,traffickcam,1/25/16 17:23

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124215 entries, 0 to 1124214
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   image_id          1124215 non-null  int64
 1   hotel_id          1124215 non-null  int64
 2   image_url         1124215 non-null  object
 3   image_source      1124215 non-null  object
 4   upload_timestamp  1124215 non-null  object
dtypes: int64(2), object(3)
memory usage: 42.9+ MB

In [7]:
hotel_df = pd.read_csv('input/dataset/hotel_info.csv')

In [8]:
hotel_df.head()

,hotel_id,hotel_name,chain_id,latitude,longitude
0,391,Extended Stay America - Fairbanks - Old Airpor...,72,64.83538,-147.82330
1,392,Hilton Hangzhou Qiandao Lake Resort,3,29.60819,119.07290
2,393,Taj Lands End,-1,19.04391,72.81879
3,395,Cambridge Suites Hotel Sydney,-1,46.13663,-60.19551
4,396,Tamanu Beach,14,-18.84213,-159.78794

In [15]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hotel_id    50000 non-null  int64
 1   hotel_name  50000 non-null  object
 2   chain_id    50000 non-null  int64
 3   latitude    50000 non-null  float64
 4   longitude   50000 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.9+ MB

In [9]:
chain_df = pd.read_csv('input/dataset/chain_info.csv')

In [10]:
chain_df.head()

   chain_id    chain_name
0        -1       unknown
1         0  Best Western
2         1         Hyatt
3         2      Marriott
4         3        Hilton

In [16]:
chain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   chain_id    93 non-null     int64
 1   chain_name  93 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.6+ KB